[submodule "src/external/raylib"]
	path = src/external/raylib
	url = https://github.com/raysan5/raylib
[submodule "src\\external\\raygui"]
	path = src\\external\\raygui
	url = https://github.com/raysan5/raygui
